.input{
  width: 100%;
  padding: 15px 0px;
  margin:  10px 0;
  border: transparent;
  border-bottom: 3px solid #fff;
  background-color: transparent;
  color: #fff;
}

.loginInput:focus{
  outline: none;
}