:root{
  --hardGray: gray;
  --header-sticky-bottom: calc(100vh + 65px);
}

/*Resolution >= 13' */
@media screen and (min-device-width: 1200px) { 

    :root{
      --header-sticky-top: calc(100vh - 495px);
    }
}

/*Resolution >= 1400px' */
@media screen 
  and (min-device-width: 1400px) { 

    :root{
      --header-sticky-top: calc(100vh - 574px);
    }
}



*{
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



