.content{
    display: flex;
    flex-wrap: wrap;
    margin:  0px 50px;
    justify-content: center;
    min-height: calc(100vh - 100px - 50px);
}

.section{
    display: block;
    float: left;
    flex: 2;
    margin: 0 10px;
    min-width: calc(80% - 20px);
    min-height:500px;
    padding: 10px;
    align-items: center;
}

.search{
    display: flex;
    min-width: 61px;
    flex: 1;
}

.documents{
    display: flex;
    flex-wrap: wrap;
}