.section{
    float: left;
    width:calc(80% - 20px);
    background: gray;
    min-height:500px;
    padding: 10px;
}

.search{
    float: left;
    width: calc(20% - 20px);
    background: green;
    min-height:500px;
    padding: 10px;
}

