.loginContainer{
    display: flex;
    flex-wrap: wrap; 
    margin:  0px 30px ;
}

.form{
    flex: 1;
    text-align: center;
    padding: 30px;
    min-width: 50vh;
} 

.form-img{
    display: flex;
    flex: 1;
    padding: 20px;
}

.form-img img{
    width: calc(100% - 20px);
}

.logingButton {
    width: calc(100% + 30px);
    margin-top: 32px;
}

.rememberme{
    display: flex;
    margin-top: 32px;
}

.subtitle{
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

.splitContainer{
    position: relative;
    display: flex;
    align-items: center;
    min-width: 61px;
    padding: 0px 61px;
    justify-content: center;
}

.splitContainer::before,
.splitContainer::after {
    position: absolute;
    left: 0;
    width: 50%;
    content: '';
    border-right: 1px solid #e0e0e0;
   }

.splitContainer::before{
    top:20px;
    bottom: calc(50% + 20px);
}

.splitContainer::after{
    top: calc(50% + 20px);
    bottom: 20px;
}
