
.mainMenu > ul > li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.maiMenuColor{
    color: white;
}

/*Resolution Iphone X*/
@media screen and (min-device-width: 375px) and (max-device-width: 1200px)  { 

}

/*Resolution >= 13' */
@media screen and (min-device-width: 1200px) { 
    
}