.searchContainer{
    min-width: 100%;
}

.inputSearch{
    width: calc(100% - 30px);
}

.searcSticky{
    position: sticky;
    top: 50px;
    background: black;
}

.mostSearchedDocuments{
    margin-top: 40px;
    position: sticky;
    top: calc(-1px + -1 * var(--header-sticky-top));
    bottom: calc(-1px + -1 * var(--header-sticky-bottom));
    z-index: -1;
    min-height: 738px;
}
