.searchContainer{
    min-width: 100%;
}

.inputSearch{
    width: calc(100% - 30px);
}

.searcSticky{
    position: sticky;
    top: 50px;
    background: black;
}

.mostSearchedDocuments{
    margin-top: 40px;
}